
%h1 Go Get Me Some Examples!
%p <a href="http://go-get-me-so.me/chicken">go-get-me-so.me/chicken</a>
%p <a href="http://go-get-me-so.me/responsible-adults">go-get-me-so.me/responsible-adults</a>
%p <a href="http://go-get-me-so.me/internet-pants">go-get-me-so.me/internet-pants</a>
%p
  %b New addition:  add a number after your topic to try other images
%p <a href="http://go-get-me-so.me/chicken/2">go-get-me-so.me/chicken/2</a>

%h1 Go Get Me Some Recent!
- @recent_topics.each do |topic|
  %p
    %a{ :href => topic.topic }<
      = topic.topic.capitalize.gsub(/\-+|\%20+/, ' ')
    \-
    = to_pretty(topic.timestamp)
%br
%p
  %a{ :href => '/list_topics' } Go Get Me Some Topics!
%br
%p
  By
  %a{ :href => 'http://twitter.com/wondersquirrel' } WonderSquirrel
  &amp;
  %a{ :href => 'http://twitter.com/crossman' } Crossman
  \/ Powered by
  %a{ :href => 'http://www.sinatrarb.com/' } Sinatra
  \/ Source code at
  %a{ :href => 'http://github.com/ntodd/go-get-me-some/tree/master' } Github