%h1 Go Get Me Some Examples!
%p <a href="http://go-get-me-so.me/chicken">http://go-get-me-so.me/chicken</a>
%p <a href="http://go-get-me-so.me/responsible-adults">http://go-get-me-so.me/responsible-adults</a>
%p <a href="http://go-get-me-so.me/chuck-norris-pants">http://go-get-me-so.me/chuck-norris-pants</a>

%h1 Go Get Me Some Recent!
- @recent_topics.each do |topic|
  %p
    %a{ :href => topic.topic }<
      = topic.topic.capitalize.gsub(/\-+/, ' ')
    \-
    = to_pretty(topic.timestamp)

%br
%p 
  By nTodd &amp; Friends / Powered by
  %a{ :href => 'http://www.sinatrarb.com/' } Sinatra
  \/ Source code at 
  %a{ :href => 'http://github.com/ntodd/go-get-me-some/tree/master' } Github