!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %title Go Get Me Some
  %body
    %div{ :style => 'text-align: center; margin-top: 100px;'}
      = yield