%h1
  GO GET ME SOME
  = params[:topic].upcase.gsub(/\-+/, ' ') + "!"

- unless @remote_image_src.nil? then
  - @remote_image = @remote_image_src.gsub(/\%25/, '%')
  %img{ :src => @remote_image, :style => 'max-height: 400px;'}
- else
  %p You fail at the internet
%p 
  %a{ :href => "/"} ?
  %a{ :href => "/#{@random_topic.topic}"} >
